<div class="row">
    <div id="video" class="columns medium-10 medium-offset-1">
        <h1>{{video.name}}</h2>
        <iframe src="https://player.vimeo.com/video/{{video.id}}?portrait=0&badge=0&color=f4aa33&title=0" color="" height="400" frameBorder="0" webkitallowfullscreen mozallowfullscreen allowFullScreen></iframe>
        {{> showTabs}}
    </div>
</div>
