<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hapicasts - free screencasts for learning hapi.js</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/foundation.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/code.css">
    <link href='https://fonts.googleapis.com/css?family=Patrick+Hand:400,700|Inconsolata:400,700|Open+sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

    {{> header}}
    
    <div class="container">
        {{{content}}}
    </div>

    {{> footer}}

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/public/js/foundation.min.js"></script>
    <!-- <script src="/public/js/bundle.js"></script> -->

    <script>
        $(document).foundation();
    </script>
</body>
</html>
