<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hapicasts</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway|Open+sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

    
    <header>
        <div class="row">
            <div class="columns medium-offset-3 medium-6">
                <h1><a href="/"><img src="/images/logo.png" alt="hapicasts"></a></h1>
                <nav>
                    <ul>
                        <li><a href="/#/about">ABOUT</a></li>
                        <li><a href="/#/request">REQUESTS</a></li>
                        <li><a href="/#/contact">CONTACT</a></li>
                        <li><a href="http://manning.com/harrison">BUY THE BOOK</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
    <div class="container">

        {{{content}}}

        <footer>&copy; 2015 Matt Harrison</footer>

    </div>

    <script src="/js/bundle.js"></script>
</body>
</html>
